h1 {
  font-size: clamp(56px, 5vw, 120px);
  font-family: 'Helvetica';
  font-weight: 900;
  margin-bottom: 40px;
}

p {
  font-size: clamp(18px, 5vw, 21px);
  font-family: 'Helvetica';
  color: #333;
  line-height: 1.4;
}
